<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="RJCP.TestSource" switchValue="Information">
        <listeners>
          <clear/>
          <add name="myListener"/>
        </listeners>
      </source>
    </sources>

    <sharedListeners>
      <add name="myListener" type="RJCP.Diagnostics.Trace.MemoryTraceListener, RJCP.Diagnostics.TraceTest"/>
    </sharedListeners>
  </system.diagnostics>
</configuration>